<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen">
    <div class="text-center">
        <form action="/submit" method="post">
            <h2 class="text-2xl font-semibold mb-4">GOGOLE</h2>
            <label>
                <input name="url" class="p-4 border rounded w-64 md:w-96" placeholder="Введите ссылку"
       pattern="https?://.+" title="Пожалуйста, введите правильный URL-адрес, начиная с http:// или https://">
            </label>
            <br class="my-4">
            <button type="submit" class="p-4 bg-blue-500 text-white rounded mt-4">Отправить</button>
        </form>

        <form action="/start_parsing" method="get">
            <button type="submit" class="p-4 bg-green-500 text-white rounded mt-4">Начать парсинг</button>
        </form>

        <form action="/end_parsing" method="get">
            <button type="submit" class="p-4 bg-green-500 text-white rounded mt-4">Закончить парсинг</button>
        </form>
    </div>
</body>
</html>
